<h3 class="w-50 mx-auto">Edit Product</h3>

<form class="w-50 mx-auto">
  <div class="form-group">
    <label for="">Name</label>
    <input type="text" class="form-control">
  </div>
  <div class="form-group">
    <label for="">Price</label>
    <input type="text" class="form-control">
  </div>
  <div class="form-group">
    <label for="">Desc.</label>
    <input name="description" type="text" class="form-control">
  </div>
  <div class="form-check mt-2">
    <input class="form-check-input" type="checkbox" id="flexCheckDefault">
    <label class="form-check-label" for="flexCheckDefault">
      active
    </label>
  </div>
</form>
